<robot name="protoflyer" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="root_frame" value="base_link"/>

  <xacro:include filename="$(find eolab_description)/payloads/core_sensors.xacro"/>
  <xacro:include filename="$(find eolab_description)/payloads/rgb_generic.xacro"/>

  <xacro:include filename="$(find eolab_description)/propulsions/dji_e305.xacro"/>

  <xacro:macro name="box_inertia" params="m w h d">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${m}"/>
      <inertia ixx="${(m/12) * (h*h + d*d)}" ixy="0.0" ixz="0.0" iyy="${(m/12) * (w*w + d*d)}" iyz="0.0" izz="${(m/12) * (w*w + h*h)}"/>
    </inertial>
  </xacro:macro>

  <link name="${root_frame}">
    <visual>
      <!-- <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/> -->
      <geometry>
        <mesh filename="file://$(find eolab_description)/drones/meshes/protoflyer.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <!-- <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/> -->
      <geometry>
        <box size="0.39 0.39 0.25"/>
      </geometry>
    </collision>
    <inertial>
      <!-- <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/> -->
      <!-- TODO harley: add battery weight -->
      <mass value="0.5"/>
      <!-- <inertia ixx="1.552e7" ixy="0.003" ixz="0" iyy="1.549e7" iyz="0.003" izz="3.068e7"/> -->
      <inertia ixx="1.552e7" ixy="0.003" ixz="0" iyy="1.549e7" iyz="0.003" izz="3.068e7"/>
    </inertial>
  </link>

  <xacro:core_sensors link="${root_frame}"/>

  <xacro:rgb_generic
   name="rgb_camera"
   parent_link="${root_frame}"
   namespace=""
   system="gz">
    <origin xyz="0 0 -0.05" rpy="0 ${radians(90)} 0"/>
  </xacro:rgb_generic>

  <xacro:dji_e305 number="0" parent="${root_frame}" direction="ccw">
    <origin xyz="0.158 -0.158 0.05" rpy="0 0 0"/>
  </xacro:dji_e305>

  <xacro:dji_e305 number="1" parent="${root_frame}" direction="ccw">
    <origin xyz="-0.158 0.158 0.05" rpy="0 0 0"/>
  </xacro:dji_e305>

  <xacro:dji_e305 number="2" parent="${root_frame}" direction="cw">
    <origin xyz="0.158 0.158 0.05" rpy="0 0 0"/>
  </xacro:dji_e305>

  <xacro:dji_e305 number="3" parent="${root_frame}" direction="cw">
    <origin xyz="-0.158 -0.158 0.05" rpy="0 0 0"/>
  </xacro:dji_e305>



</robot>
