<robot name="protoflyer" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="root_frame" value="base_link"/>

  <xacro:include filename="$(find eolab_description)/payloads/core_sensors.xacro"/>
  <xacro:include filename="$(find eolab_description)/payloads/rgb_generic.xacro"/>

  <xacro:include filename="$(find eolab_description)/propulsions/dji_e305.xacro"/>

  <xacro:macro name="box_inertial" params="mass x y z xyz:='0 0 0' rpy:='0 0 0'">
    <inertial>
      <origin xyz="${xyz}" rpy="${rpy}"/>

      <mass value="${mass}"/>
      <inertia
        ixx="${(1/12.0)*mass*(y*y + z*z)}"
        iyy="${(1/12.0)*mass*(x*x + z*z)}"
        izz="${(1/12.0)*mass*(x*x + y*y)}"
        ixy="0.0" ixz="0.0" iyz="0.0"/>
    </inertial>
  </xacro:macro>

  <link name="${root_frame}">
    <visual>
      <geometry>
        <mesh filename="file://$(find eolab_description)/drones/meshes/protoflyer.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.39 0.39 0.39"/>
      </geometry>
    </collision>
    <xacro:box_inertial mass="0.5" x="0.4" y="0.4" z="0.4"/>
  </link>

  <xacro:core_sensors link="${root_frame}"/>

  <xacro:rgb_generic
   name="rgb_camera"
   parent_link="${root_frame}"
   namespace=""
   system="gz">
    <origin xyz="0 0 -0.05" rpy="0 ${radians(90)} 0"/>
  </xacro:rgb_generic>

  <xacro:dji_e305 number="0" parent="${root_frame}" direction="ccw">
    <origin xyz="0.158 -0.158 0.05" rpy="0 0 0"/>
  </xacro:dji_e305>

  <xacro:dji_e305 number="1" parent="${root_frame}" direction="ccw">
    <origin xyz="-0.158 0.158 0.05" rpy="0 0 0"/>
  </xacro:dji_e305>

  <xacro:dji_e305 number="2" parent="${root_frame}" direction="cw">
    <origin xyz="0.158 0.158 0.05" rpy="0 0 0"/>
  </xacro:dji_e305>

  <xacro:dji_e305 number="3" parent="${root_frame}" direction="cw">
    <origin xyz="-0.158 -0.158 0.05" rpy="0 0 0"/>
  </xacro:dji_e305>



</robot>
